
body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Nav Bar CSS */
nav>ul { 
    list-style-type: none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}
nav>ul>li { 
    float:left;
}
nav>ul>li a {
    display:block;
    color:#000000;
    text-align: center;
    padding:10px 30px;
    text-decoration: none;
}
li a:hover {
    color:#860a57;
}
/* Nav Bar ENDS */

/*Image sizing CSS*/
#webslogo {
    width:300px;
}
#banner {
    max-width: 960px;
}
#hos {
    width:200px;
    float:left;
    padding-right:10px;
}
/*Image sizing ENDS*/

/*Text fonts*/
h1 {
    font-family:'Roboto', sans-serif;
    font-weight: 300;
}
p,h2,h3,h4,h5,a {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
}
h3,h4,h5 {
    font-family:'Roboto', sans-serif;
    font-weight: 700;
}
/*Text fonts*/

/* Colourings */
#news {
    background-color: #DBC9DF;
}

#events {
    background-color: #782A7E;
}

#pastevents {
    background-color: #DBC9DF;
}

footer {
    background-color: #363636;
}

aside p, aside h3, aside h4{
    color: white;
}

/*/ Margin Fixes */
aside, p, h3, h4{
    margin: 0;
}

aside h3 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

aside h4 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

aside p {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

aside {
    padding-right: 0px !important;
    margin-top: -5px !important;
}

main {
    padding-right: 0px !important;
}

/* Font Sizing */

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 13px;
}

p, a {
    font-size: 13px;
}

footer>p {
    width: 150px;
    margin-left: auto;
    margin-right: auto ;
    color: white;
}